@import 'loaders.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gray-1000: #0f131a;
}

html {
  @apply h-full;
}

body {
  background-color: var(--bg-gray-1000);
  @apply text-gray-100;
  @apply h-full;
}

.loader {
  max-width: 200px;
  height: 200px;
}

.ball-spin-fade-loader > div {
  @apply bg-gray-300;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.7);
}

.max-h-view {
  max-height: calc(100vh - 110px);
}

.rm-channel {
  margin-left: -72px;
  margin-right: 8px;
  opacity: 0.5;
  cursor: pointer;
}

.undo-alert {
  top: 68px;
  right: 2px;
  cursor: pointer;
}

.min-w-3 {
  min-width: calc(100vw / 3);
}

.bg-white-opaque {
  background-color: rgba(255, 255, 255, 0.5);
}

.min-w-1\/4 {
  min-width: 25%;
}
