@import 'loaders.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  max-width: 200px;
  height: 200px;
}

.ball-spin-fade-loader > div {
  background-color: #9b2c2c;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.7);
}

.max-h-view {
  max-height: calc(100vh - 100px);
}

.rm-channel {
  margin-left: -72px;
  margin-right: 8px;
  opacity: 0.5;
  cursor: pointer;
}

.undo-alert {
  top: 68px;
  right: 2px;
  cursor: pointer;
}
